<ion-view title="registrar" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="registrar-form2" class="list">
      <label class="item item-input" id="registrar-input3" name="Nombre">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="registrar-input4">
        <input type="text" placeholder="nick">
      </label>
      <label class="item item-input" id="registrar-input5">
        <input type="password" placeholder="Contraseña">
      </label>
      <label class="item item-input" id="registrar-input6">
        <input type="password" placeholder="Repetir Contraseña">
      </label>
      <ion-checkbox id="registrar-checkbox1">Acepta condiciones</ion-checkbox>
    </form>
    <button id="registrar-button3" class="button button-royal  button-block">Registrar</button>
  </ion-content>
</ion-view>